<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

<bean id="baseHibernateService" class="com.faceye.core.service.controller.BaseHibernateService">
  <property name="baseDao">
    <ref bean="baseDao"/>
  </property>
  <property name="baseJdbcQueryService">
    <bean class="com.faceye.core.service.controller.BaseJdbcService"></bean>
  </property>
</bean>

<bean id="baseJdbcService" class="com.faceye.core.service.controller.BaseJdbcService">
  <property name="baseJdbcDao">
    <ref bean="baseJdbcDao"/>
  </property>
</bean>

 <bean id="baseService" class="com.faceye.core.service.controller.BaseService">
    <property name="baseHibernateService">
      <ref bean="baseHibernateService"/>
    </property>
    <property name="baseJdbcService">
    <ref local="baseJdbcService"/>
    </property>
  </bean>
  <bean id="service" class="com.faceye.core.service.controller.Service">
    <property name="baseService">
      <ref local="baseService"/>
    </property>
    <property name="systemConfig">
      <ref bean="systemConfig"/>
    </property>
  </bean>
 </beans>
