<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

<import resource="classpath*:com/faceye/core/config/applicationContext-resources.xml" />
<import resource="classpath*:com/faceye/core/config/applicationContext-dao.xml"/>
<import resource="classpath*:com/faceye/core/config/applicationContext-service.xml"/>
<import resource="classpath*:com/faceye/core/componentsupport/config/applicationContext-componentsuppot-dao.xml"/>
<import resource="classpath*:com/faceye/core/componentsupport/config/applicationContext-componentsuppot-service.xml"/>
<import resource="classpath*:com/faceye/components/opensource/config/applicationContext-opensource-dao.xml"/>
<import resource="classpath*:com/faceye/components/opensource/config/applicationContext-opensource-service.xml"/>
<import resource="classpath*:com/faceye/components/navigation/config/applicationContext-navigation-dao.xml"/>
<import resource="classpath*:com/faceye/components/navigation/config/applicationContext-navigation-service.xml"/>
<import resource="classpath*:com/faceye/core/service/security/config/applicationContext-core-security-dao.xml"/>
<import resource="classpath*:com/faceye/core/service/security/config/applicationContext-core-security-service.xml"/>
<import resource="classpath*:com/faceye/core/config/security/applicationContext-security-acegi.xml"/>
<import resource="classpath*:com/faceye/components/portal/config/applicationContext-portal-dao.xml"/>
<import resource="classpath*:com/faceye/components/portal/config/applicationContext-portal-service.xml"/>
<import resource="classpath*:com/faceye/components/blog/config/applicationContext-blog-dao.xml"/>
<import resource="classpath*:com/faceye/components/blog/config/applicationContext-blog-service.xml"/>
<!--<import resource="classpath*:com/faceye/core/config/web/struts2/applicationContext-struts2.xml"/>
--></beans>
