<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="portalContainerService"
		class="com.faceye.components.portal.service.controller.PortalContainerService">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
		<property name="portalContainerDao">
			<ref bean="portalContainerDao" />
		</property>
		<property name="portalColumnDao">
			<ref bean="portalColumnDao" />
		</property>
		<property name="portalDao">
			<ref bean="portalDao" />
		</property>
		<property name="portletDao">
			<ref bean="portletDao" />
		</property>
	</bean>
	<bean id="portalColumnService"
		class="com.faceye.components.portal.service.controller.PortalColumnService">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
		<property name="portalColumnDao">
			<ref bean="portalColumnDao" />
		</property>
	</bean>
	<bean id="portletService"
		class="com.faceye.components.portal.service.controller.PortletService">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
		<property name="portletDao">
			<ref bean="portletDao" />
		</property>
	</bean>

	<bean id="portalService"
		class="com.faceye.components.portal.service.controller.PortalService">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
		<property name="portalDao">
			<ref bean="portalDao" />
		</property>
		<property name="portalColumnDao">
			<ref bean="portalColumnDao" />
		</property>
		<property name="portletDao">
			<ref bean="portletDao" />
		</property>
	</bean>

</beans>
