/**
*上部工具条
*/
div#default-header {
	font-size: 12px;
	background-color: green;
}

div#default-my {
	float: right;
}

div#default-log {
	float: left;
	margin-left: 0;
	margin-right: 5px;
}

div#default-message {
	color: red;
	float: left;
}

div#default-toolbar-feed-home {
	float: left;
	border: 1px solid #F6CECD;
	margin: 0 5px 0 5px;
}

div#default-toolbar-manager {
	float: left;
	border: 1px solid #F6CECD;
	margin: 0 5px 0 5px;
}

div#default-toolbar-column-style-select {
	float: left;
	border: 1px solid #F6CECD;
	margin: 0 5px 0 5px;
}

div#default-toolbar-register {
	float: left;
	border: 1px solid #F6CECD;
	margin: 0 5px 0 5px;
}

div#default-toolbar-login {
	float: left;
	border: 1px solid #F6CECD;
	margin: 0 5px 0 5px;
}

div#default-toolbar-logout {
	float: left;
	border: 1px solid #F6CECD;
	margin: 0 5px 0 5px;
}