<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean name="/userAction"
		class="com.faceye.core.service.security.web.controller.UserAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="service">
			<ref bean="service" />
		</property>
	</bean>
	<bean name="/roleAction"
		class="com.faceye.core.service.security.web.controller.RoleAction">
		<property name="roleService">
			<ref bean="roleService" />
		</property>
		<property name="service">
			<ref bean="service" />
		</property>
	</bean>
	<bean name="/resourceAction"
		class="com.faceye.core.service.security.web.controller.ResourceAction">
		<property name="resourceService">
			<ref bean="resourceService" />
		</property>
		<property name="service">
			<ref bean="service" />
		</property>
	</bean>
	<bean name="/permissionAction"
		class="com.faceye.core.service.security.web.controller.PermissionAction">
		<property name="permissionService">
			<ref bean="permissionService" />
		</property>
		<property name="service">
			<ref bean="service" />
		</property>
	</bean>
	<bean name="/treeAction"
		class="com.faceye.core.service.security.web.controller.TreeAction">
		<property name="service">
			<ref bean="service" />
		</property>
	</bean>
    <bean name="/columnAction" class="com.faceye.core.service.security.web.controller.ColumnAction">
      <property name="service">
        <ref bean="service"/>
      </property>
      <property name="columnService">
       <ref bean="columnService"/>
      </property>
    </bean>
</beans>
