<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!--  模型控制 -->
	<bean name="/domainAction"
		class="com.faceye.core.componentsupport.web.controller.DomainAction">
		<property name="service">
			<ref bean="service" />
		</property>
		<property name="domainService">
			<ref bean="domainService" />
		</property>
	</bean>
	<bean name="/htmlTypeAction"
		class="com.faceye.core.componentsupport.web.controller.HtmlTypeAction">
		<property name="service">
			<ref bean="service" />
		</property>
		<property name="domainService">
			<ref bean="domainService" />
		</property>
	</bean>
	<bean name="/validatorTypeAction"
		class="com.faceye.core.componentsupport.web.controller.ValidatorTypeAction">
		<property name="service">
			<ref bean="service" />
		</property>
		<property name="domainService">
			<ref bean="domainService" />
		</property>
	</bean>
	<bean name="/propertyAction"
		class="com.faceye.core.componentsupport.web.controller.PropertyAction">
		<property name="service">
			<ref bean="service" />
		</property>
		<property name="domainService">
			<ref bean="domainService" />
		</property>
	</bean>
	<bean name="/dataTypeAction"
		class="com.faceye.core.componentsupport.web.controller.DataTypeAction">
		<property name="service">
			<ref bean="service" />
		</property>
		<property name="domainService">
			<ref bean="domainService" />
		</property>
	</bean>
	<bean name="/queryTypeAction"
		class="com.faceye.core.componentsupport.web.controller.QueryTypeAction">
		<property name="service">
			<ref bean="service" />
		</property>
		<property name="domainService">
			<ref bean="domainService" />
		</property>
	</bean>
	<bean name="/domainQueryAction"
		class="com.faceye.core.componentsupport.web.controller.DomainQueryAction">
		<property name="service">
			<ref bean="service" />
		</property>
		<property name="domainService">
			<ref bean="domainService" />
		</property>
	</bean>

</beans>
