<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="traditionService"
		class="com.faceye.components.navigation.service.controller.TraditionService">
		<property name="traditionDao">
			<ref bean="traditionDao" />
		</property>
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
	</bean>
	<bean id="feedService"
		class="com.faceye.components.navigation.service.controller.FeedService">
		<property name="feedDao">
			<ref bean="feedDao" />
		</property>
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
	</bean>

	<bean id="categoryService"
		class="com.faceye.components.navigation.service.controller.CategoryService">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
		<property name="categoryDao">
			<ref bean="categoryDao" />
		</property>
		<property name="treeService">
			<ref bean="treeService" />
		</property>
	</bean>
	<bean id="feedParseService"
		class="com.faceye.components.navigation.service.controller.FeedParseService">
	</bean>
	<bean id="userResourceCategoryService"
		class="com.faceye.components.navigation.service.controller.UserResourceCategoryService">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
		<property name="userResourceCategoryDao">
			<ref bean="userResourceCategoryDao" />
		</property>
		<property name="feedSubscribeDao">
			<ref bean="feedSubscribeDao" />
		</property>
		<property name="feedDao">
			<ref bean="feedDao" />
		</property>
		<property name="treeService">
			<ref bean="treeService" />
		</property>
	</bean>
</beans>
