<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="articleCategoryDao"
		class="com.faceye.components.blog.dao.controller.ArticleCategoryDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="articleDao"
		class="com.faceye.components.blog.dao.controller.ArticleDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="discusDao"
		class="com.faceye.components.blog.dao.controller.DiscusDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="articleClickCountDao"
		class="com.faceye.components.blog.dao.controller.ArticleClickCountDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="blogClickHistoryDao" class="com.faceye.components.blog.dao.controller.BlogClickHistoryDao">
	  <property name="sessionFactory">
	    <ref bean="sessionFactory"/>
	  </property>
	  <property name="baseJdbcDao">
	    <ref bean="baseJdbcDao"/>
	  </property>
	</bean>
</beans>
